
<!--标题栏-->
<ion-header-bar align-title="left" class="bar-positive" style="background-color: #373b3e">

    <h1 class="title">微信</h1>
    <div class="buttons" ng-controller="TitleController">
        <a class="button button-icon icon ion-search headerIcon" ng-click="searchAction()"></a>
        <a class="button button-icon icon  ion-plus-round headerIcon" ng-click="addAction($event)"></a>
    </div>

</ion-header-bar>

<!--tab按钮-->
<ion-tabs class="tabs-icon-top " >

    <ion-tab title="微信" icon="ion-chatbubble-working" href="#/tab/home" >
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>



    <ion-tab title="联系人" icon="ion-person-stalker" ui-sref="tabs.contact" >
        <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="发现" icon="ion-android-compass" href="#/tab/find" badge="12" badge-style="badge-assertive">
        <ion-nav-view name="find-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我" icon="ion-android-person" href="#/tab/mine">
        <ion-nav-view name="mine-tab"></ion-nav-view>
    </ion-tab>


</ion-tabs>